n8n/workflows/ip-lookup.json
{
  "name": "Lookup IP geolocation details with IP-API.com via webhook",
  "nodes": [
    {
      "parameters": {
        "content": "This node listens for incoming POST requests. It expects a JSON body with an 'ip' property containing the IP address you want to look up (e.g., {\"ip\": \"8.8.8.8\"}). You can easily adjust the webhook path to suit your needs.",
        "height": 280,
        "width": 280
      },
      "id": "03bd8d64-8336-4c15-8ed3-af3144ee1113",
      "name": "Note for Webhook Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This node makes an HTTP GET request to the IP-API.com service to get detailed geolocation information for the IP address provided by the webhook. The API returns data like country, city, region, ISP, and more.",
        "height": 300,
        "width": 260,
        "color": 2
      },
      "id": "7fefa097-190c-4b86-9fbc-d110e6d913b9",
      "name": "Note for IP Lookup",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This node sends the full geolocation data received from IP-API.com back to the original caller of the webhook. This data can be directly consumed or further processed (e.g., logged, filtered, used in conditional logic) before being returned.",
        "height": 340,
        "width": 280,
        "color": 3
      },
      "id": "46964ab7-7845-4b39-92f9-9011a1484fa3",
      "name": "Note for Webhook Response",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "=http://ip-api.com/json/{{ $json.body.ip }}",
        "options": {}
      },
      "id": "0b4b792d-30fa-4f55-b96c-b9b88da026f0",
      "name": "Get IP Geolocation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        832,
        384
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ip-lookup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a6c774ad-9aa6-4b0b-8644-5966d7242907",
      "name": "Receive IP Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        432,
        384
      ],
      "webhookId": "76cf0099-b4e9-4446-a355-9fa85b72365d-unique-id",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "ee2b27c2-a96f-432f-b950-fff3a8dab462",
      "name": "Respond with Geolocation Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1200,
        384
      ],
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "connections": {
    "Get IP Geolocation": {
      "main": [
        [
          {
            "node": "Respond with Geolocation Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive IP Webhook": {
      "main": [
        [
          {
            "node": "Get IP Geolocation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "",
  "meta": {
    "templateId": "4599",
    "instanceId": "8fa4142e9da68124b443e9af3fdb032a775a777121749afde265a9f33f442b5a"
  },
  "id": "LDmKFrAF6tivqzSC",
  "tags": []
}